.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
.container {
    width: 33rem;
}
.container-checkout {
    margin: auto;
    width: 75%;
    min-width: 360px; /* because samsung galaxy S9/S9+ in mozilla dev has that widht :D*/

}
.pa-card {
    margin-bottom: 10px;
}
.pa-col {
    /*width: 33rem;*/
    margin-left: 20rem;
}
.pa-row {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
}
.center {
  margin: auto;
  width: 50%;
  min-width: 360px; /* because samsung galaxy S9/S9+ in mozilla dev has that widht :D*/
  /*border: 3px solid green;*/
  /*padding: 10px*/;
}
.order-details-container {
    width: 75%;
    min-width: 360px; /* because samsung galaxy S9/S9+ in mozilla dev has that widht :D*/
    margin-bottom: 20px;
}
.pa-btn {
    margin-left: 20px;
}
